
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_AuthorrLayout.cshtml";
}

<p>#1 Profilim</p>
<del>#2 All Headings Paging</del>
<p>#3 Mesajlarda session</p>
<p>#4 Login islemlerinin mimariye tasinmasi</p>
<p>#5 Token kullanimi</p>