
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>Mvc Project Camp - Table Example - Category</h3>
<table class="table table-bordered table-hover">
    <tr>
        <td>Category ID</td>
        <td>Category Name</td>
        <td>Category Description</td>
        <td>Category Status</td>
    </tr>
</table>